.wrapper
  .aside
    .aside__contents
      .aside__contents__left
        .aside__contents__left__upper
          スマホでかんたんフリマアプリ
        .aside__contents__left__lower
          今すぐ無料ダウンロード！
        .aside__contents__left__icons
          .aside__contents__left__icons__logo
            = image_tag ("/logo_white.svg")
          .aside__contents__left__icons__app-store
            = image_tag ("/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg")
          .aside__contents__left__icons__google-store
            = image_tag ("/google-play-495575abb895b405aa6336b2a4304958.svg")
      .aside__contents__right
        %img.aside__contents__right__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
