.buy_confirm_page
  .header_confirm
  .confirm
    .confirm__head
      購入内容の確認
    .confirm__item
      Abag
    .confirm__price
    .confirm__payment
    .confirm__Shipping_address
    .confirm__btn
  .footer_confirm