.wrapper{
  font-weight: 600;
  font-family: 'arial unicode ms';
  font-size: 14px;
  .header{
    width: 100%;
    border: 1px red solid;
    position: relative;
    top: 0px;
    background-color: white;
    &__inner{
      width: 1040px;
      margin: 0 auto;
      padding: 10px 0 0 0;
      &__upper{
        display: flex;
        justify-content: space-between;
        &__left{
          align-items: center;
          display: flex;
          height: 40px;
          margin-right: 45px;
          &__logo{
          }
        }
        &__form{
            position: relative;
            width: 100%;
          &__area{
            background-color: lightgray;
            font-size: 16px;
            height: 40px;
            position: relative;
            width: 100%;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-radius: 4px;
            padding: 0px 50px 0px 10px;
          }
        }
        &__buttom{

          }
        }
      
      &__lower{
        display: flex;
        justify-content: space-between;
        &__left{
          display: flex;
          margin: 16px 0;
          &__categories{
            &__logo{
              margin: 0 10px;
            }
          }
        }
        &__right{
          display: flex;
          position: relative;
          &__content{
            padding: 0px 14px;
            line-height: 44px;
            position: relative;
            text-align: center;
          }
        }
      }
    }
  }

  .aside{
    background-image: url("/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39 (1).jpg");
    background-position: center center;
    &__contents{
      display: flex;
      justify-content: space-between;
      width: 750px;
      margin: 0px auto;
      &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        &__upper{
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        &__lower{
          font-size: 35px;
          margin-bottom: 20px;
        }
        &__icons{
          display: flex;
          &__logo{
            height: 50px;
            margin-right: 20px;
            width: 50px;
          }
          &__app-store{
            // height: 68px;
            margin-right: 20px;
            // width: 68px;
          }
          &__google-store{
            // height: 68px;
            margin-right: 20px;
            // width: 68px;
          }
        }
      }
      &__right{
        &__img{
          height: 260px;
          width: 300px;
        }
      }
    }
  }

  .main{
    max-width: 1020px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    &__inner{
      position: relative;
      &__top{
        height: 390px;
        left: 50%;
        margin-left: -50vw;
        position: relative;
        top: 0px;
        width: 100vw;
        &__img{
          background-image: url("/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg");
          background-position: center center;
          height: 390px;
          background-size: auto;
          &__inner{
            -webkit-box-align: center;
            align-items: center;
            max-width: 860px;
            display: flex;
            height: 100%;
            position: relative;
            margin: 0px auto;
            &__img{
              position: absolute;
              top: 0px;
              right: 0px;
            }
            &__contents{
            position: relative;
            width: 100%;
            padding: 20px 40px;
              &__text{
              font-size: 60px;
              font-weight: 600;
              line-height: 1.4;
              margin-bottom: 16px;
              }
              &__sub-text{
              font-size: 18px;
              line-height: 1.77777;
              margin-bottom: 24px;
              }
              &__app{
              background-color: initial;
              position: initial;
              text-align: left;
              padding: 0px;
                &__store{
                height: 50px;
                width: 170px;
                display: inline-block;
                }
              }
            }
          }
        }
      }
      &__pick-up{
        padding: 56px 0px 30px;
        &__upper{
          margin-bottom: 16px;
          text-align: center;
          font-size: 28px;
        }
        &__lower{
          text-align: center;
          &__contents{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: -10px 0px 0px -10px;
            &__name{
              margin: 10px 0px 0px 10px;
              &__inner{
                background-color: lightgray;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                border-radius: 15px;
                padding: 8px 16px;
              }
            }
          }
        }
      }
      &__new-arrivals{
        &__upper{
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          &__left{
            font-size: 24px;
          }
          &__right{
            font-size: 14px;
            padding: 5px 16px 5px 5px;
            a{
              color: lightskyblue;
            }
          }
        }
        &__lower{
          &__items{
            display: flex;
            flex-wrap: wrap;
            &__item{
              background-color: white;
              height: 300px;
              width: 20%;
              padding: 10px;
              box-sizing: border-box;
              &__img{
                background-color: palevioletred;
                height: 0;
                overflow: hidden;
                padding: 0 0 100%;
                &__price{
                  align-items: center;
                  background: rgba(0,0,0,.4);
                  border-radius: 0 14px 14px 0;
                  bottom: 8px;
                }
              }
              &__name{
                background-color: peru;
                box-sizing: border-box;
                color: #222;
                font-size: 14px;
                height: 64px;
                line-height: 1.4em;
                padding: 0 12px;
                white-space: normal;
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }

  .footer{
    box-sizing: border-box;
    background-color: #1a1a1a;
    padding: 0px 20px 10px;
    width: 100%;
    color: whitesmoke;
    &__upper{
      width: 1020px;
      margin: 0px auto;
      &__contents{
        padding: 0px 40px 0px 0px;
        display: flex;
        &__bold{
          font-size: 16px;
          margin: 0px 40px 0px 0px;
          margin-top: 18px;
          color: white;
          &__inner{
            display: flex;
            ul{
              margin: 0px 40px 0px 0px;
            }
          }
        }
      }
      a{
        color: whitesmoke;
      }
    }
    li{
      font-size: 11px;
      line-height: 1.4em;
      margin: 16px 0px 0px;
      width: auto;
    }
    &__lower{
      width: 1020px;
      margin: 30px auto 20px;
      display: flex;
      &__content{
        height: 31px;
        width: 124px;
      }
      &__copy-right{
        text-align: center;
        padding-left: 15px;
        width: 75%;
        font-size: 12px;
      }
    }
  }
  ul{
    list-style: none;
  }
}