.sell-page{
  background-color: rgb(245, 245, 245);
  #red-solid{
    background-color: #ea352d;
    color: white;
    margin: 2px;
    font-size: 12px;
    padding: 0 5px;
    font-weight: bold;
  }
  h2{
    font-weight: bold;
  }
  #bold{
    font-weight: bold;
    margin-right: 5px;
  }
  select{
    position: relative;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    width: 380px;
    margin: 0 0 20px 250px;
  }
  &__header{
    h1{
      text-align: center;
      a{
        font-size: 30px;
      }
    }
  }
  &__form{
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &--header{
      text-align: center;
      font-size: 22px;
      padding: 32px 16px;
      h1{
        font-weight: bold;
      }
    }
    &--image{
      border-top: 1px solid rgb(245, 245, 245);
      padding: 40px;
      &--label{
        display: flex;
      }
      #small{
        font-size: 12px;
        margin: 8px 0 0;
      }
      #image-box-1{        
        #previews{
          display: flex;
          max-width: 620px;
          flex-wrap: wrap;
          .label{
            background-color: #f5f5f5;
            margin-right: 10px;
            margin-top: 10px;
            padding: 25px 0;
            position: relative;
            .js{
              display: flex;
              position: absolute;
              bottom: 0;
              color: #0099e8;
              &-edit{
                border-right: 1px solid black;
                padding-left: 15px;
                padding-right: 10px;
              }
              &-remove{
                padding-left: 5px;
              }
            }
          }
        }
        #image-box__container{
          display: block;
          max-width: 640px;
          margin: 16px auto 0;
          border: 1px dashed #ccc;
          min-height: 162px;
          background-color: rgb(245, 245, 245);
          text-align: center;
          position: relative;
          cursor: pointer;
          input{
            opacity: 0;
            height: 162px;
            width: 100%;
            cursor: pointer;
          }
          pre{
            bottom: 60px;
            left: 200px;
            position: absolute;

          }
        }
      }
    }
    &--name{
      border-top: 1px solid rgb(245, 245, 245);
      padding: 40px;
      &--label{
        display: flex;
      }
      &--label2{
        display: flex;
        margin-top: 20px;
      }
      &--field{
        margin: 8px 0 0;
        input{
          width: 100%;
          padding-left: 8px;
        }
      }
      &--description{
        textarea{
        margin: 8px 0 0;
        min-height: 130px;
        width: 100%;
        border: 1px solid #ccc;
        }
        #item_discription{
          padding: 8px;
        }
      }
    }
    &--details{
      border-top: 1px solid rgb(245, 245, 245);
      padding: 40px;
      h2{
        color: #888;
        font-size: 14px;
        float: left;
      }
      &--label{
        display: flex;
        margin-left: 250px;
      }
    }
    &--shipping{
      border-top: 1px solid rgb(245, 245, 245);
      padding: 40px;
      h2{
        color: #888;
        font-size: 14px;
        float: left;
      }
      &--label{
        display: flex;
        margin-left: 250px;
      }
    }
    &--price{
      border-top: 1px solid rgb(245, 245, 245);
      padding: 40px;
      h2{
        color: #888;
        font-size: 14px;
        float: left;
      }
      &--label{
        display: flex;
        margin-left: 250px;
        position: relative;
        margin-top: 5px;
        &--place{
          position: absolute;
          right: 0;
          input{
            padding: 10px 5px 10px 80px;
            text-align: right;
            margin: 0;
            font-size: 10px;
          }
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
      &--profit{
        display: flex;
        margin-left: 250px;
        margin-top: 25px;
        padding-top:20px;
        border-top: 1px solid lightgray;
        text-align: center;
        justify-content: space-between;
      }
    }
    &--btn{
      border-top: 1px solid rgb(245, 245, 245);
      padding: 40px;
      &--caution{
        font-size: 14px;
        a{
          color: #0099e8;
        }
      }
      &--exhibition{
        margin: 40px 0 0;
        &--do{
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          line-height: 48px;
        }
        &--back{
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          line-height: 48px;
          display: block;
          width: 40%;
          text-align: center;
          margin: 10px auto;
        }
      }
    }
  }
  &__footer{
    padding: 30px;
    text-align: center;
    color: black;
    &--text{
      color: black;
      padding: 0 10px;
      font-size: 12px;
    }
    &--copyright{
      font-size: 12px;
    }
  }
}